<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group {{getClass()}}">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="list">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="splitValues()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-model="message" style="color: {{color.length > 0 ? color : ''}}">
           {{message}}
         </div>
   </div>

</body>
</html>
